extends layout

block content
  h1= title
  p Cube Details
  

  link(rel='stylesheet', href='/javascripts/jquery-window-5.0.4/window/css/jquery.window.css')
  
  script(src="/javascripts/jquery-ui-1.12.1.custom/jquery-ui.js")
  script(src="/javascripts/jquery-window-5.0.4/window/jquery.window.js")
  script(src="/javascripts/functions.js")
 
  script(type='text/javascript').

  div#wrapper                 
    ul
      each val in dbData
        li= "Topic: " + val.topic
        li= "DeviceID: " + val.deviceId
        ul
          li= "Cube: " + val.payload.cube
          li= "Occupied: " + val.payload.occupied
          
      else
        li There are no values
        
